@import url('http://fonts.cdnfonts.com/css/sweet-leaf');

@font-face {
    font-family: 'FuturaHandwritten Medium';
    font-style: normal;
    font-weight: normal;
    src: local('FuturaHandwritten Medium'), url('/fonts/FuturaHandwritten.woff') format('woff');
}

* {
    outline: none;
}

a {
    text-decoration: none;
    color: #00FF99;
}

body {
    margin: 0;
    background-image: url(/images/background.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100vw;
    height: 100vh;
    text-align: center;
}

.top {
    background-image: url(/images/top.png);
    width: 100%;
    height: 180px;
    top: 0;
    left: 0;
    position: absolute;
    box-shadow: 0 -20px #000000F2;
    animation: swipeDown 750ms ease-out;
    transition: all 750ms cubic-bezier(0.175, 0.885, 0.32, 1.1);
    animation: movingBg 7.5s linear infinite;
}

@keyframes movingBg {
    from {
        background-position: 0 0;
    }
    to {
        background-position: -300px 0;
    }
}

.logo {
    background-image: url(/images/logo.png);
    width: 250px;
    height: 90px;
    margin: 0 auto;
    background-position: center;
    background-size: cover;
}

.logo.hide {
    opacity: 0;
}

.highlight-btn {
    background-image: linear-gradient(45deg, #ffc35a, #f72f50);
    border-radius: 100px;
    padding: 8px 0;
    color: #FFF;
    font-size: 20px;
    top: 11%;
    right: 30px;
    width: 170px;
    position: absolute;
    border: none;
    font-family: 'FuturaHandwritten Medium', sans-serif;
    cursor: pointer;
    transition: width 750ms, right 750ms, top 750ms cubic-bezier(0.175, 0.885, 0.32, 1.1), font-size 750ms, transform 750ms, box-shadow 750ms;
    box-shadow: 0 10px 20px -10px #f72f50;
    z-index: 2;
}

.highlight-btn:not(.title):hover {
    top: 9%;
    box-shadow: 0 10px 30px -10px #f72f50;
}

.highlight-btn.title {
    background-image: none;
    background-color: transparent;
    color: #FFF;
    margin: 0 auto;
    right: 0;
    width: 100%;
    font-size: 7vmin;
    box-shadow: none;
}

.menu-content {
    float: left;
    margin: 20px 10px;
}

.menu-content .menu-button {
    color: #FFF;
    display: inline-block;
    font-family: 'FuturaHandwritten Medium', sans-serif;
    padding: 10px 20px;
    font-size: 20px;
    cursor: pointer;
}

.menu-content .menu-button:hover {
    text-decoration: underline;
}

.menu-content .splitter {
    display: inline-block;
    width: 1px;
    height: 40px;
    background-color: #FFF;
    position: relative;
    top: 10px;
}

.menu-phone-button {
    display: none;
    height: 40px;
    width: 40px;
    margin: 20px 20px;
    position: absolute;
    right: 0;
    top: 0;
    cursor: pointer;
}

.menu-phone-button.back {
    display: block;
}

.menu-phone-button .line {
    margin: 10px 0;
    height: 1px;
    width: 40px;
    background-color: #FFF;
    transition: transform .5s, opacity .5s, margin .5s;
}

.menu-phone-button.back .line:first-child {
    transform: rotate(45deg);
    margin-left: 14px;
    margin-top: 25px;
}
.menu-phone-button.back .line:nth-child(2) {
    opacity: 0;
}
.menu-phone-button.back .line:last-child {
    transform: rotate(-45deg);
    margin-left: -14px;
    margin-top: -22px;
}

* {
    box-sizing: border-box;
}

.purchase-button {
    top: 80vh;
    margin: 0 auto;
    display: inline-block;
    padding: 10px 100px;
    font-size: 40px;
    font-family: 'SweetLeaf', sans-serif;
    color: #FFF;
    position: relative;
    background-color: #000;
    border-radius: 100px;
    transition: color 500ms;
    cursor: pointer;
}

.purchase-button:hover {
    color: #00FF99;
}

.documents {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    height: 65vh;
    padding: 10px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #000000F2;
    box-shadow: 0 -50px 0 #000000F2;
    display: none;
    color: #FFF;
    text-align: center;
    font-size: 2.5vmin;
    font-family: 'FuturaHandwritten Medium', sans-serif;
}

.credit {
    color: #FFF;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 5px;
    font-size: 12px;
    font-family: 'FuturaHandwritten Medium', sans-serif;
}

@keyframes swipeDown {
    0% {
        margin-top: -180px;
    }
    50% {
        margin-top: 20px;
    }
    100% {
        margin-top: 0;
    }
}

@media (max-width: 1400px) {
    .menu-content .menu-button .label {
        display: none;
    }
}

@media (max-width: 768px) {
    .logo {
        width: 188px;
        height: 68px;
        margin: 12px;
    }
    .menu-phone-button {
        display: block;
    }
    .menu-phone-button .line {
        margin: 10px 0;
        height: 1px;
        width: 40px;
        background-color: #FFF;
        transition: transform .5s, opacity .5s, margin .5s;
    }
    .menu-content {
        display: none;
        justify-content: space-evenly;
        align-items: center;
        flex-direction: column;
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        height: 65vh;
        margin: 0;
        padding: 20px;
        background-color: #000000F2;
        box-shadow: 0 -50px 0 #000000F2;
    }
    .menu-content .menu-button {
        padding: 25px;
        width: 100%;
        margin: 0;
    }
    .menu-content .menu-button .label {
        display: inline-block;
    }
    .highlight-btn {
        font-size: 13px;
        right: 70px;
        padding: 5px;
        width: 85px;
        top: 15%;
    }
    .highlight-btn:not(.title):hover {
        top: 13%;
        box-shadow: 0 10px 30px -10px #f72f50;
    }
    .documents {
        font-size: 13px;
        /* align-items: flex-end; */
    }
    .documents .content {
        height: 60%;    
        overflow-x: hidden;
    }
}